.testimonials{
    background-color: #495E57;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.testimonials div:first-of-type h2{
    font-size: 48px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-sizing: border-box;
    width: 23.8%;
    background-color: #EDEFEE;
    padding: 1em;
    color: #000;
}

.testimonials-card > .rating{
    font-size: 18px;
}

.testimonials-card .img-details{
    display: flex;
    gap: .5rem;
}

.testimonials-card .img-details img{
    width: 35%;
    aspect-ratio: .7;
    border-radius: 16px;
}