.testimonials{
    background-color: #495E57;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 12px;
}

.testimonials div:first-of-type h2{
    font-size: 28px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-sizing: border-box;
    width: 85%;
    background-color: #EDEFEE;
    padding: 1em;
    color: #000;
    margin-top: 1rem;
}

.testimonials-card > .rating{
    font-size: 14px;
}

.testimonials-card .img-details{
    display: flex;
    gap: .5rem;
}

.testimonials-card .img-details img{
    width: 35%;
    aspect-ratio: .6;
    border-radius: 1.2em;
}

@media (min-width: 750px){
    .testimonials{
        font-size: 14px;
    }
    .testimonials div:first-of-type h2{
        font-size: 48px;
    }
    .testimonials-card {
        width: 23.8%;
    }
    .testimonials-card > .rating{
        font-size: 18px;
    }
    .testimonials-card .img-details img{
        width: 35%;
        aspect-ratio: .6;
    }
}