/* used in DailySpecials components */
.daily-specials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    padding-top: 5rem;
    position: relative;
}
@media (max-width: 749px){
    .daily-specials{
        font-size: 14px;
    }
}

.daily-specials>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daily-specials>div:first-of-type h2{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
}

.daily-specials>div:first-of-type>button{
    padding: .9rem 1.2rem;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    background-color: #F4CE14;
    border-radius: 16px;
}


.special-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    width: 85%;
    background-color: #EDEFEE;
    padding-bottom: .5rem;
    border-radius: 16px 16px 0 0;
}

.special-card>div{
    margin: 0 1.5em;
    text-align: justify;
}

.special-card>div:first-of-type{
    margin: 0;
}

.special-card>div>img {
    width: 100%;
    aspect-ratio: 1.4;
    border-radius: 16px 16px 0 0;
}

.special-card-tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-price{
    color: #F4CE14;
}

.order-delivery-btn {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 3px 5px rgb(161, 153, 153);
    padding: .5rem 0;
    text-align: center;
}
@media (max-width: 749px){
    .order-delivery-btn{
        margin-top: 1.5rem;
    }
}
.order-delivery-btn:active,
.order-delivery-btn:focus,
.order-delivery-btn:hover{
    border-radius: .5em;
    background-color: #d6d6d6;
}
@media (min-width: 750px){
    /* used in DailySpecials components */
    .daily-specials{
        font-size: 16px;
    }
    .daily-specials>div:first-of-type h2{
        font-size: 32px;
    }
    .daily-specials>div:first-of-type>button{
        padding: 1.5rem 3rem;
        font-size: 18px;
    }
    .special-card{
        width: 30%;
    }
}