.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3 {
  font-family: 'Markazi Text', serif;
}

header,
.hero-section,
.daily-specials,
.testimonials,
.abouts,
footer {
  padding: 0 15%;
  font-family: 'Karla', sans-serif;
}

button {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

header{
  display: flex;
  justify-content: space-between;
}

.main-nav > ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.main-nav a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
}

.hero-section{
  display: flex;
  background-color: #495E57;
  color: #fff;
  justify-content: space-between;
}

.hero-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;
  gap: 1rem;
  font-size: 18px;
}

.hero-section h1{
  font-size: 64px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 4rem;
  color: #F4CE14;
  margin: 0;
}

.hero-section h2{
  font-size: 40px;
  text-transform: capitalize;
  line-height: 3rem;
  margin: 0;
}

.hero-section p{
  width: 453px;
  line-height: 35px;
}

.hero-section button{
  width: 218px;
  padding: 1rem;
  font-size: 18px;
  border-radius: 16px;
  border: none;
  color: #000;
  background-color: #F4CE14;
}

.hero-section img{
  width: 410px;
  border-radius: 30px;
  position: relative;
  top: 4rem;
  aspect-ratio: .8;
}

.hero-img {
  height: 25em;
}

.abouts {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 15rem;
  font-size: 18px;
}

.abouts > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 30rem;
}

.abouts h2{
  font-size: 48px;
  margin: 35px 0 0 0;
}

.abouts h3{
  font-size: 32px;
  margin: 0;
}

.abouts p{
  text-align: justify;
}

.about-img{
  display: flex;
}

.about-img img{
  width: 257px;
  height: 354px;
  aspect-ratio: .8;
  border-radius: 20px;
}

.about-img img:first-of-type{
  position: relative;
  left: 6rem;
  top: 13rem;
  z-index: 100;
}

.about-img img:nth-of-type(2){
  position: relative;
  top: 6rem;
}




footer {
  display: flex;
  justify-content: space-between;
  background-color: #495E57;
  color: #fff;
}

footer div:first-of-type{
  display: flex;
  align-items: center;
}

footer img{
  background-color: #fff;
  height: 107px;
  aspect-ratio: 2;
}

footer h2,
footer li{
  text-transform: capitalize;
  font-family: 'Karla', sans-serif;
}

footer ul{
  list-style: none;
  padding: 0;
}

footer li{
  margin-left: 0;
}

footer a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding: .3rem 0;
}