.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3 {
  font-family: 'Markazi Text', serif;
}

.mobile-nav,
.desktop,
.hero-section,
.daily-specials,
.testimonials,
.abouts,
footer,
.login {
  padding: 0 15%;
  font-family: 'Karla', sans-serif;
}

button,
input {
  border: none;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  box-shadow: 2px 1px 20px #495E57;
}

.main-nav>ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.main-nav a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
}

.hero-section {
  display: flex;
  background-color: #495E57;
  color: #fff;
  justify-content: space-between;
  padding-top: 4rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;
  gap: 1rem;
  font-size: 14px;
}

.hero-section h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #F4CE14;
  margin: 0;
}

.hero-section h2 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0;
}

.hero-section button {
  max-width: 218px;
  padding: 1rem;
  font-size: 14px;
  border-radius: 1em;
  border: none;
  color: #000;
  background-color: #F4CE14;
}

.abouts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 15rem;
  font-size: 14px;
}

.abouts>div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
}

.abouts h2 {
  font-size: 35px;
  margin: 35px 0 0 0;
}

.abouts h3 {
  font-size: 20px;
  margin: 0;
}

.abouts p {
  text-align: justify;
}

.about-img {
  display: flex;
}

.about-img img {
  width: 60%;
  aspect-ratio: .6;
  border-radius: 1.5em;
}

.about-img img:first-of-type {
  position: relative;
  top: 7rem;
  z-index: 100;
}

.about-img img:nth-of-type(2) {
  position: relative;
  top: 3rem;
  left: -2.5rem;
}

/* ##### Log In section ###### */
.login-page {
  box-sizing: border-box;
  padding-top: 2rem;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  box-sizing: border-box;
  background-color: #495E57;
  height: 95vh;
}

.login h1 {
  font-size: 35px;
  color: #F4CE14;
  margin: 0;
  text-align: center;
}

.login h2 {
  font-size: 20px;
  color: #fff;
  margin: 0;
  font-family: 'Karla', sans-serif;
  text-align: center;
}

.login>form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input>div {
  position: relative;
}

.input input {
  box-sizing: border-box;
  padding: 1.5rem;
  width: 85vw;
  max-width: 50rem;
  border-radius: 1em;
  font-size: 16px;
  text-indent: 4rem;
}

.input img {
  position: absolute;
  left: 2rem;
  top: 1.7rem;
  width: 1.5rem;
}

.input>div:nth-of-type(2) img {
  width: 2.5rem;
  left: 1.5rem;
  top: 1.8rem;
}

.input>a>input:last-of-type {
  background-color: #F4CE14;
  margin-top: 3rem;
  text-indent: 0;
  font-size: 16px;
  font-weight: 700;
}

.input>a:last-of-type+p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.signup-btn>a>input{
  text-align: center;
  font-weight: 700;
  text-indent: 0;
}

/* ##### SignUp section ###### */
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
  color: #fff;
  min-height: 95vh;
  padding-top: 3.8rem;
}

.signup h1 {
  color: #F4CE14;
  font-size: 35px;
}

.signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup label {
  align-self: flex-start;
  text-indent: 1rem;
}

.signup button,
.signup input {
  width: 85vw;
  max-width: 50rem;
  border-radius: 2em;
  font-size: 14px;
  padding: .5rem;
  margin-bottom: 1rem;
  margin-top: .2rem;
  box-sizing: border-box;
}

.signup div {
  position: relative;
}

.signup div:first-of-type {
  margin-top: 1rem;
}

.signup div:last-of-type {
  margin-bottom: .5rem;
}

.signup div>input {
  box-sizing: border-box;
  padding: 1.2rem;
  text-indent: 3rem;
}

.signup img {
  position: absolute;
  left: 2rem;
  top: 1.2rem;
  width: 1.2rem;
}

.signup div:nth-of-type(2) img {
  width: 1.7rem;
  left: 1.5rem;
  top: 1.4rem;
}

.signup button {
  display: block;
  background-color: #F4CE14;
  font-weight: 700;
  padding: 1.5rem;
  width: 85vw;
  max-width: 45rem;
}

/* ##### Reservation section ###### */
.reservation {
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
  color: #fff;
  min-height: 95vh;
  padding-top: 2rem;
}

.reservation h1 {
  font-size: 30px;
  color: #F4CE14;
}

.reservation form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation input,
.select-time,
#occasion,
.err {
  padding: .5rem;
  width: 85vw;
  max-width: 50rem;
  border-radius: 2em;
  margin-bottom: 1rem;
  text-indent: 1.5rem;
  box-sizing: border-box;
}

.select-time,
#occasion{
  display: flex;
  height: 2.5rem;
  padding: 0 1.5rem;
}

.guest-no,
.reservation label {
  align-self: flex-start;
  text-indent: 1rem;
  margin-bottom: .5rem;
}

.guest-no {
  margin-bottom: 1.8rem;
}

.guest-no p {
  margin: 1.3rem 0;
  margin-top: 0;
}

#minusBtn,
#addBtn {
  padding: .3rem .5rem;
  text-align: center;
  background-color: #fff;
  color: #000;
  border-radius: 40%;
  cursor: pointer;
}

.guest-no span {
  margin-right: 1.5rem;
  font-size: 1rem;
}

.terms {
  align-self: flex-start;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.terms>label {
  display: none;
}

#radioBtn {
  width: 2rem;
  aspect-ratio: 1;
  margin: 0;
}

.reservation button {
  font-size: 14px;
  color: #000;
  background-color: #F4CE14;
  font-weight: 700;
  padding: 1.2rem;
  width: 85vw;
  max-width: 45rem;
  border-radius: 1.5em;
  margin-top: 2.5rem;
}

.reservation button[disabled] {
  background-color: #f4cf1473;
  color: #00000055;
}

/* ##### Confirmation section ###### */
.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
  min-height: 95vh;
  padding-top: 2rem;
}

.confirmation img {
  width: 5rem;
}

.confirmation h1 {
  color: #F4CE14;
  font-size: 35px;
}

.confirmation p {
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 0 1rem;
}

.confirmation button {
  width: 85vw;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 1em;
  background-color: #F4CE14;
  margin-top: 5rem;
}

/* ##### Order Delivery section ###### */
.order-delivery {
  position: fixed;
  top: 10rem;
  width: 70vw;
  max-width: 30rem;
  left: 50%;
  border-radius: 2em;
  background-color: #495E57;
  right: 50%;
  transform: translateX(-50%);
  color: #fff;
  box-shadow: .5px .5px 5px #7d6b6b;
  z-index: 111;
}

.delivery-pix {
  width: 100%;
  aspect-ratio: 1.9;
  border-radius: 2em 2em 0 0;
}

.close {
  position: absolute;
  color: #201616;
  font-weight: 700;
  font-size: 25px;
  padding: .8rem;
  text-shadow: .5px 1px 9px #845b5b;
  box-shadow: .5px 1px 5px #000000,.5px 1px 25px #000000;
  border-radius: 50%;
  cursor: pointer;
}

.card-details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: .5rem;
  padding: 1rem 1.2rem 2rem;
}

.card-details>div:first-of-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-details>div:first-of-type p {
  color: #F4CE14;
}

.price-calc {
  display: flex;
  flex-direction: column;
}

.order-delivery-calc {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.order-delivery-calc>span>span:first-of-type,
.order-delivery-calc>span>span:last-of-type {
  color: rgb(44, 39, 39);
  background-color: #618076;
  padding: .1rem .5rem;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5rem;
  cursor: pointer;
}

.order-delivery-calc>span>span:nth-of-type(2) {
  margin: 0 1rem;
}

.order-delivery-total-price {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.to-cart {
  padding: 1rem;
  box-shadow: 1px 1px 10px rgb(191, 176, 176);
  border-radius: 1.3em;
  background-color: #618076;
  text-align: center;
  cursor: pointer;
}

.to-cart:active,
.to-cart:hover {
  background-color: #669284;
  border-radius: 2em;
  color: rgb(67, 60, 60);
}

/* ##### Footer section ###### */
footer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  justify-content: space-between;
  background-color: #495E57;
  color: #fff;
}

footer div:first-of-type {
  display: flex;
  align-items: center;
}

footer img {
  background-color: #fff;
  height: 3rem;
  aspect-ratio: 2;
  margin: 0 auto;
}

footer h2,
footer li {
  text-transform: capitalize;
  font-family: 'Karla', sans-serif;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-left: 0;
}

footer a {
  display: block;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1239px) {
  header {
    padding: 0;
    display: block;
  }

  header>.desktop {
    display: none;
  }

  header>.mobile {
    display: flex;
    flex-direction: column;
  }

  header .mobile-nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-logo {
    width: 7rem;
  }

  .mobile-menu {
    display: inline-block;
    padding: 1rem;
  }

  .mobile-nav-toggle,
  .mobile-nav-close {
    background-color: rgba(67, 79, 69, 0.889);
    margin: 0;
    transition: 5s ease-out;
  }

  @supports (backdrop-filter: blur(10px)) {

    .mobile-nav-toggle,
    .mobile-nav-close {
      background-color: rgba(44, 38, 38, 0.1);
      backdrop-filter: blur(20px);
    }
  }

  .mobile-nav-close {
    transform: translateX(100%);
    display: none;
  }

  .mobile-nav-toggle {
    transform: translateX(0%);
  }

  .main-nav>ul {
    gap: 0;
    padding: 0;
  }

  .main-nav a {
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    text-indent: 2rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.293);
  }

  .hero-section img {
    display: none;
  }

  .guest-no,
  .reservation label {
    font-size: 14px;
  }

  .terms {
    width: 85vw;
    font-size: 14px;
    margin-top: .5rem;
  }

  .main-nav>ul {
    flex-direction: column;
  }

  .login-page {
    box-sizing: border-box;
    padding-top: 0;
  }

  .signup h1 {
    margin: 1rem;
    margin-top: 3rem;
  }

  .login {
    height: 100vh;
  }

  .signup,
  .reservation,
  .confirmation {
    padding-top: 0;
    min-height: 100vh;
  }

  footer h2 {
    font-size: 14px;
    font-weight: 700;
  }

  footer li {
    font-weight: 100;
    font-size: 10px;
    padding: .15rem 0;
  }
}

@media (min-width: 750px) {
  .cards {
    flex-direction: row;
  }

  .hero-section img {
    display: block;
    max-width: 33vw;
    margin-left: 2rem;
    border-radius: 30px;
    position: relative;
    top: 4rem;
    aspect-ratio: .8;
    box-shadow: .5px .5px 10px rgb(145, 123, 123);
  }

  .abouts {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-img img {
    width: 257px;
    height: 354px;
    aspect-ratio: .8;
    border-radius: 20px;
  }

  .about-img img:first-of-type {
    left: 6rem;
    top: 13rem;
    z-index: 100;
  }

  .about-img img:nth-of-type(2) {
    position: relative;
    top: 6rem;
  }
.terms{
  width: 30rem;
}

  footer {
    flex-direction: row;
  }
}

@media (min-width: 1240px) {
  header>.mobile {
    display: none;
  }

  header>.desktop {
    display: flex;
    background-color: #fff;
  }

  .cards {
    flex-direction: row;
  }

  .hero-left {
    font-size: 18px;
  }

  .hero-section h1 {
    font-size: 64px;
    line-height: 4rem;
  }

  .hero-section h2 {
    font-size: 40px;
    line-height: 3rem;
  }

  .hero-section p {
    width: 453px;
    line-height: 35px;
  }

  .hero-section button {
    font-size: 18px;
    width: 218px;
  }

  .hero-section img {
    width: 410px;
    border-radius: 30px;
    position: relative;
    top: 4rem;
    aspect-ratio: .8;
    box-shadow: .5px .5px 10px rgb(145, 123, 123);
  }

  .hero-img-container {
    height: 25em;
  }

  .abouts {
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
  }

  .abouts>div:first-of-type {
    gap: 5rem;
  }

  .abouts h2 {
    font-size: 48px;
  }

  .abouts h3 {
    font-size: 32px;
  }

  .about-img img {
    width: 257px;
    height: 354px;
    aspect-ratio: .8;
    border-radius: 20px;
  }

  .about-img img:first-of-type {
    left: 6rem;
    top: 13rem;
    z-index: 100;
  }

  .about-img img:nth-of-type(2) {
    position: relative;
    top: 6rem;
  }

  /* ##### Log In section ###### */
  .login {
    height: 93vh;
  }

  .login h1 {
    font-size: 50px;
  }

  .login h2 {
    font-size: 32px;
  }

  .input input {
    padding: 2rem;
    width: 40vw;
    max-width: 50rem;
    font-size: 20px;
    text-indent: 5rem;
  }

  .input img {
    left: 3rem;
    width: 2rem;
  }

  .input>div:nth-of-type(2) img {
    width: 3rem;
    left: 2.5rem;
  }

  .input>input:last-of-type {
    font-size: 18px;
  }

  /* ##### SignUp section ###### */
  .signup {
    min-height: 93vh;
    padding-top: 2rem;
  }

  .signup h1 {
    font-size: 50px;
  }

  .signup button,
  .signup input {
    width: 40vw;
    font-size: 18px;
    padding: .5rem;
    margin-bottom: 1.5rem;
    margin-top: .3rem;
  }

  .signup div:first-of-type {
    margin-top: 2rem;
  }

  .signup div:last-of-type {
    margin-bottom: 1rem;
  }

  .signup div>input {
    padding: 1.5rem;
    text-indent: 5rem;
  }

  .signup img {
    left: 2.5rem;
    top: 1.3rem;
    width: 1.8rem;
  }

  .signup div:nth-of-type(2) img {
    width: 2.5rem;
    left: 2rem;
    top: 1.6rem;
  }

  .signup button {
    width: 35vw;
  }

  /* ##### Reservation section ###### */
  .reservation {
    min-height: 93vh;
  }

  .reservation h1 {
    font-size: 50px;
  }

  .reservation input,
  .select-time,
  #occasion {
    padding: 1rem;
    width: 50vw;
    margin-bottom: 2rem;
  }

  .select-time,
  #occasion{
    padding: 0 1.5rem;
  }

  .guest-no,
  .reservation label {
    align-self: flex-start;
    text-indent: 1rem;
    margin-bottom: .5rem;
    font-size: 16px;
  }

  .guest-no {
    margin-bottom: 2rem;
  }

  .guest-no p {
    margin: 2rem 0;
  }

  #minusBtn,
  #addBtn {
    padding: .5rem;
  }

  .guest-no span {
    margin-right: 2rem;
    font-size: 1.2rem;
  }

  .reservation button {
    font-size: 18px;
    padding: 1.5rem;
    width: 35vw;
    border-radius: 2em;
  }

  /* ##### Confirmation section ###### */
  .confirmation {
    min-height: 93vh;
  }

  .confirmation img {
    width: 10rem;
  }

  .confirmation h1 {
    font-size: 50px;
  }

  .confirmation p {
    width: 388px;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }

  .confirmation button {
    width: 30rem;
    padding: 1rem;
  }

  /* ##### Order Delivery section ###### */
  .order-delivery {
    top: 7rem;
    width: 50%;
    left: 50%;
  }

  .card-details {
    padding: 1rem 3rem 3rem;
    font-size: 16px;
  }

  .order-delivery-calc {
    gap: 2rem;
  }

  .order-delivery-calc>span>span:first-of-type,
  .order-delivery-calc>span>span:last-of-type {
    padding: .2rem .8rem;
    font-weight: 400;
    font-size: 30px;
  }

  .order-delivery-calc>span>span:nth-of-type(2) {
    margin: 0 1.5rem;
  }

  .to-cart {
    padding: 1rem 3rem;
    border-radius: 20px;
  }

  /* ##### Footer section ###### */
  footer {
    display: flex;
    flex-direction: row;
  }

  footer img {
    height: 107px;
  }

  footer a {
    padding: .3rem 0;
  }
}

.err {
  color: red;
  text-align: justify;
  margin-bottom: 0;
  padding: 0;
}